.input-form {
   display: table;
   padding: 30px;
   border: solid red 3px;

   margin-left: 409px;
   margin-right: auto;
   align-items: center;

   height: 400px;
   width: 600px;
}

.inputf {
    display: table-cell;
    vertical-align: middle;
    margin-right: inherit;
    margin-left: inherit;
    margin-top: 30px;

    border-radius: 30px;
    border-style: none;
   
    height: 60px;
    width: 600px;
}

.btn {
    display: block;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 30px;

    background-color:  #ffb13b;
    border-style: none;
    border-radius: 30px;

    height: 60px;
    width: 200px;
}