*{
    color: #170000; 
}
.menuSelectorContainer{
    display: grid; 
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px 1fr; 
    grid-template-areas: 
    "toggle order"
    "menu order"; 
    
    justify-items: center;
}

.toggle-btn{
    display: flex; 
    justify-content: center;
    align-content: center;
    grid-area: toggle; 
}
.menuContainer{
    display: flex;
    flex-wrap: wrap;
    grid-area: menu; 
    position: relative; 
    border-radius: 20px;
    width: 350px; 
    background-color: #FFFCFC;
    padding-left: 5px; 
    padding-top: 10px; 

}

.orderContainer{ 
    width: 320px;
    height: auto; 
    border-radius: 20px; 
    background-color: #FFCF87; 
    grid-area: order; 
    padding: 5px 20px 5px 20px; 
}

.total{
    font-size: 18px; 
    font-weight: bold; 
    text-align: right; 
    padding: 35px; 
}

h1{
    font-size: 28px; 
    text-align: center; 
}

.center{
    display: flex; 
    justify-content: center;
}

