.beverage{
    
    display:flex; 
    flex-direction: column;

    margin: 20px; 
    width: 150px; 
    height: auto; 

    align-items: center;
    
    border-radius: 25px; 

    background: #87D5C2;

    font-family: 'Montserrat', sans-serif; 

    overflow: hidden;
}

.meal{
    
    display:flex; 
    flex-direction: column;

    margin: 20px; 
    width: 150px; 
    height: auto; 

    align-items: center;
    
    border-radius: 25px; 

    background: #F6DF8D;

    font-family: 'Montserrat', sans-serif; 

    overflow: hidden;
}

img{
    width: 90px; 
    height: 90px; 

    margin: 5px 0px 0px 0px; 
}

h2{
    margin: 0px 0px 0px 0px; 

    font-size: 15px; 
    font-weight: bold;
}

p{
    margin: 5px 0px 10px 0px; 

    font-size: 14px; 
}