.order-list-container{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

h3{
    font-size: 18px; 
    font-weight: normal;
    width: 150px; 
}

h4{
    font-size: 18px; 
    font-weight: normal;
    width: 80px; 
}

input[type=number]{

    font-size: 18px; 
    width: 25px; 
    height: 20px; 
    margin-right: 24px;
    padding-left: 15px;
    border: none; 
    border-radius: 2px;

}

.trash{

    width: 6%;
    height: auto; 

}
