.order-list-container{
    display: grid; 
    grid-template-columns: 3fr 1.5fr 1.2fr 1fr 1fr; 
    align-items: center;
}

h3{
    font-size: 18px; 
    font-weight: normal;
}

h4{
    font-size: 18px; 
    font-weight: normal;
}

input[type=number]{

    font-size: 18px; 
    width: 40px; 
    height: 30px; 
    border: none; 
    border-radius: 2px;
    padding-left: 15px; 
}

.trash{
    width: 70%;
    height: auto; 
    padding: 0px 0px 10px 20px; 
}
