.container{

    display: flex; 
    align-items: center; 
    width: 350px;
    height: auto; 
    justify-content: space-between;
    
}

button.toggle{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    width: 170px; 
    height: 50px; 
    border: 0; 
    border-radius: 13px;

}

button.toggle:focus{
    font-weight: bold; 
}