button.yellowbtn{

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold; 
    width: 150px; 
    height: 50px; 
    border: 0; 
    border-radius: 15px;
    background-color: #FFB240;
    justify-content: center; 
}

button.green{

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 10px; 
    font-weight: bold; 
    width: 150px; 
    height: 50px; 
    border: 0; 
    border-radius: 15px;
    background-color: #AFD14E;
}

button.red{

    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold; 
    width: 150px; 
    height: 50px; 
    border: 0; 
    border-radius: 15px;
    background-color: #DC6363;
}

