.topbar {
    height: 100px;
    width: 100%;  
    background-color: #ffb13b;

    margin-top: -21px;

    text-align: center;
    vertical-align: middle;
    line-height: 100px; 
}

.topbar h1 {
    font-size: 40px;
    margin-top: 7px;
    padding-top: 5px;
}



