body {
	margin: 0px;
    padding:0px;
    min-height: 100vh;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #F2F2F2; 
  }
  
  code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
  }

  *, html, body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif; 
	color: #170000 !important;
  }

  body {
	  width: 100%;
	  height: 100%;
  }

  #root {
	width: 100%;
	height: 100%;
	max-width: 100%;
  }